<div id="dtr-main-content"> 
    <section id="home" class="dtr-section dtr-section-with-bg" style="background-image: url(hero-bg2.jpg);"> 
        <div class="dtr-overlay dtr-overlay-green"></div>
        <div class="container dtr-overlay-content hero-section-top-padding"> 
            
            <div class="row d-flex align-items-center dtr-pt-100 dtr-pb-50"> 
                <div class="col-12 col-md-6">
                    <h1 class="color-white">Menyediakan Akses Daur Ulang Bagi Petani & UMKM.</h1>
                    <p class="text-size-md dtr-mt-30 color-white">Kolaborasi atasi sampah secara bijak dan bangun kebiasaan baik untuk kita oleh kita dan dari kita.</p>
                    <p> <a href="#" class="dtr-btn btn-white dtr-scroll-link dtr-px-50 dtr-mt-20 dtr-mr-10">Get Started</a> </p>
                </div>
                
                <div class="col-12 col-md-6"><%= image_tag("hero1-oneelite", class: "dtr-mb-minus50 animated-img") %> </div>
                
                
            </div>
            
        </div>
        <div class="dtr-section-with-bg hero-svg-bg-absolute"  style="background-image:  url(assets/images/landing3-hero.svg); width: 100%; height: 200px;"></div>
    </section>
    
    <section id="features" class="dtr-section dtr-py-80">
        <div class="container"> 
            <div class="row"> 
                <div class="col-12 col-md-5 dtr-mt-20">
                    <h2 class="color-green">One klik Terintegrasi oleh petani & UMKM</h2>
                    <p>There are many variations of passages of lor ipsum available but the majority have suffered alteration in some form by injected humour.</p>
                    <p>All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary.</p>
                    <a href="#" class="dtr-btn btn-green dtr-mt-20">Discover</a> </div>
                <div class="col-12 col-md-6 offset-md-1 dtr-sm-mt-30"> <%= image_tag("screen-1.png") %></div>
                
                
            </div>
            <div class="row dtr-my-80"> 
                <div class="col-12 col-md-6"> <%= image_tag("screen-2.png") %></div>
                <div class="col-12 col-md-5 offset-md-1 dtr-mt-20">
                    <h2 class="color-green">Your saas web app <br>
                        with just a few clicks</h2>
                    <p>There are many variations of passages of lor ipsum available but the majority have suffered alteration in some form by injected humour.</p>
                    <p>All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary.</p>
                    <a href="#" class="dtr-btn btn-green dtr-mt-20">Discover</a> </div>
                
            </div>
            
            <div class="row"> 
                
                
                <div class="col-12 col-md-5 dtr-mt-20">
                    <h2 class="color-green">Your saas web app <br>
                        with just a few clicks</h2>
                    <p>There are many variations of passages of lor ipsum available but the majority have suffered alteration in some form by injected humour.</p>
                    <p>All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary.</p>
                    <a href="#" class="dtr-btn btn-green dtr-mt-20">Discover</a> 
                </div>
                
                <div class="col-12 col-md-6 offset-md-1 dtr-sm-mt-30"><%= image_tag("screen-3.png") %> </div>
                
                
            </div>
            
            
        </div>
    </section>
    
    <section class="dtr-section dtr-pt-100 dtr-pb-70 dtr-section-with-bg bg-light-blue parallax" style="background-image: <%= image_url("section-bg1.png") %> ">
        <div class="container"> 
            <div class="row"> 
                <div class="col-12 col-md-4"> 
                    <div class="dtr-feature dtr-feature-top feature-has-box feature-has-shadow dtr-rounded-corner-xl text-center bg-white">
                        <div class="dtr-feature-img"><%= image_tag("shape-icon1.png", alt: "image") %> </div>
                        <div class="dtr-feature-content">
                            <h3>Oneelite</h3>
                            <p class="text-size-lg">Terintegrasi</p>
                            <p>There are many variations of passages of lorem ipsum dolor amet available.</p>
                            <a href="#" class="dtr-styled-link font-weight-600 color-green">Learn More</a> </div>
                    </div>
                    
                </div>
                
                <div class="col-12 col-md-4"> 
                    <div class="dtr-feature dtr-feature-top feature-has-box feature-has-shadow dtr-rounded-corner-xl text-center bg-white">
                        <div class="dtr-feature-img"> <%= image_tag("shape-icon2.png", alt: "image") %> </div>
                        <div class="dtr-feature-content">
                            <h3>Oneelite</h3>
                            <p class="text-size-lg">secure</p>
                            <p>There are many variations of passages of lorem ipsum dolor amet available.</p>
                            <a href="#" class="dtr-styled-link font-weight-600 color-green">Learn More</a> </div>
                    </div>
                </div>
                
                <div class="col-12 col-md-4"> 
                    <div class="dtr-feature dtr-feature-top feature-has-box feature-has-shadow dtr-rounded-corner-xl text-center bg-white">
                        <div class="dtr-feature-img"> <%= image_tag("shape-icon3.png", alt: "image") %> </div>
                        <div class="dtr-feature-content">
                            <h3>Oneelite</h3>
                            <p class="text-size-lg">Automate</p>
                            <p>There are many variations of passages of lorem ipsum dolor amet available.</p>
                            <a href="#" class="dtr-styled-link font-weight-600 color-green">Learn More</a> </div>
                    </div>
                </div>
            </div>
            
        </div>
    </section>
    
    <section class="dtr-section dtr-py-100">
        <div class="container"> 
            
            <div class="row dtr-mb-50">
                <div class="col-12 text-center">
                    <h2>Why is Oneelite different?</h2>
                    <div class="dtr-styled-divider divider-center bg-light-green"></div>
                </div>
            </div>
            
            <div class="row d-flex align-items-center"> 
                <div class="col-12 col-md-5">
                    <div class="dtr-pr-40 dtr-sm-pr-0"> 
                        
                        <div class="dtr-line-feature dtr-mb-10">
                            <div class="dtr-line-feature-img-wrapper">
                                <div class="dtr-line-feature-img bg-green border-light-green color-white"><i class="icon-user-edit"></i></div>
                            </div>
                            <div class="dtr-vert-border border-light-green"></div>
                            <h4 class="dtr-line-feature-heading font-weight-600">Developer-first coding </h4>
                            <p>There are many variations of passages of lorem available.</p>
                        </div>
                        
                        <div class="dtr-line-feature dtr-mb-10">
                            <div class="dtr-line-feature-img-wrapper">
                                <div class="dtr-line-feature-img bg-green border-light-green color-white"><i class="icon-mail-bulk"></i></div>
                            </div>
                            <div class="dtr-vert-border border-light-green"></div>
                            <h4 class="dtr-line-feature-heading font-weight-600">Leading incremental database</h4>
                            <p>Nemo enim ipsam voluptatem quia voluptas sit.</p>
                        </div>
                        
                        <div class="dtr-line-feature">
                            <div class="dtr-line-feature-img-wrapper">
                                <div class="dtr-line-feature-img bg-green border-light-green color-white"><i class="icon-shipping-fast"></i></div>
                            </div>
                            <div class="dtr-vert-border border-light-green"></div>
                            <h4 class="dtr-line-feature-heading font-weight-600">Automated work flow</h4>
                            <p>Similique sunt in culpa qui officia deserunt mollitia animi.</p>
                        </div>
                        
                    </div>
                </div>
                
                <div class="col-12 col-md-7 dtr-md-mt-30"> 
                    <div class="dtr-video-box"> 
                        <%= image_tag("video-bg.jpg", alt: "image") %>
                    </div>
                </div>
            </div> 
        </div>
    </section>

    <section class="dtr-section dtr-py-100">
        <div class="container"> 
            
            <div class="row dtr-mb-30">
                <div class="col-12 text-center">
                    <h2>How it works?</h2>
                    <p>Just 3 simple steps to start using Oneelite.</p>
                    <div class="dtr-styled-divider divider-center bg-light-green"></div>
                </div>
            </div>
            
            <div class="row d-flex align-items-center dtr-features-tab"> 
                
                <div class="col-12 col-md-6">
                    <div class="tab-content" id="v-pills-tabContent"> 
                        <div class="tab-pane fade" id="features-tab-1" role="tabpanel" aria-labelledby="features-tab-1-tab"> <img src="assets/images/screen-1.png" alt="image"> </div>
                        
                        <div class="tab-pane fade show active" id="features-tab-2" role="tabpanel" aria-labelledby="features-tab-2-tab"><img src="assets/images/screen-2.png" alt="image"></div>
                        
                        <div class="tab-pane fade" id="features-tab-3" role="tabpanel" aria-labelledby="features-tab-3-tab"><img src="assets/images/screen-3.png" alt="image"></div>
                    </div>
                </div>
                
                <div class="col-12 col-md-6">
                    <div class="nav flex-column nav-pills" role="tablist" aria-orientation="vertical"> 
                        
                        <a class="nav-link" id="features-tab-1-tab" data-toggle="pill" href="#features-tab-1" role="tab" aria-controls="features-tab-1" aria-selected="false">
                            <h4 class="font-weight-600">Create your tasks</h4>
                            <p>There are many variations of passages of lorem ipsum dolor amet available.</p>
                        </a>
                        
                        <a class="nav-link active" id="features-tab-2-tab" data-toggle="pill" href="#features-tab-2" role="tab" aria-controls="features-tab-2" aria-selected="true">
                            <h4 class="font-weight-600">Build your flow</h4>
                            <p>There are many variations of passages of lorem ipsum dolor amet available.</p>
                        </a>
                    
                        <a class="nav-link" id="features-tab-3-tab" data-toggle="pill" href="#features-tab-3" role="tab" aria-controls="features-tab-3" aria-selected="false">
                            <h4 class="font-weight-600">Aquire new users</h4>
                            <p>There are many variations of passages of lorem ipsum dolor amet available.</p>
                        </a>
                        
                    </div>
                </div>
            </div>
            
        </div>
    </section>
</div>

